@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');
header{
    top:0;
    width: 100%;
    position: fixed;
    z-index: 1;
    background: white;
    box-shadow: 2px 2px 10px #999;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    font-size: 16px;

}

#btn-menu{
    display: none;
}
#inicio{
    display: none;
}
header label{
    display: none; 
    width: 30px;
    height: 30px;
    padding: 10px;
    
}
header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.6);
}

#log{
    display: none;
}
.menu{
    justify-content: center;

}

.menu ul{
    margin: 0;
    text-align: right;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

}

.menu #logoAlb{
    background: url('../media/rozdac.jpg');
    background-size:80%;
    background-position:0 5px;
    background-repeat: no-repeat;
    padding: 30px 60px;
    transition: 0.4s;

}
.menu #login{
    background-size:70%;
    background-position:center;
    background-repeat: no-repeat;
    padding: 30px 2vw;

}
.menu li a{
    display: block;
    padding: 30px 2vw;
    color: #000;
    text-decoration: none;
    transition: 0.2s;
}

.menu a:hover{
    color: #F2CB05
}

.menu #login:hover{
    background-size:70%;
    background-position:center;
    background-repeat: no-repeat;

}

.menu #active{
    color: #F2CB05;
    font-weight: bold;
}

.menu #active:hover{
    color: white;
    font-weight: bold;
}
header img{
    padding-top: 2px;
}

@media (max-width: 895px){
    header label{
        display: block;
        padding: 20px 20px;
        float: left;
    }

    #log{
        display: block;
    }
    .menu{
        position: absolute;
        background: white;
        width: 100%;
        margin-left: -100%;
        transition: all 0.5s;
    }

    .menu #inicio{
        display: block;
    }
    .menu ul{
        flex-direction: column;
        
    }

    .menu li{
        margin-left: 15%;
        margin-right: 25%;
        border-bottom: 1px solid black;

    }
    .menu #logoAlb{
        display: none;
        border-bottom: none;
    }
    .menu #login{
        background-size:10%;
        background-position:center right;
        background-repeat: no-repeat;
        margin-top: 0%;
        padding: 30px 30px;

    }

    .menu #login:hover{
        background-size:10%;
        background-position:center right;
        background-repeat: no-repeat;
        margin-top: 0%;
        padding: 30px 30px;

    }
    #btn-menu:checked ~ .menu{
        margin-left: 0;
        position: relative;

    }
    #linkLogo{
        margin-right: 15%;
    }

}



